.main_block
{
    
    margin: 0 auto;  
    width: 700px;
}
.link
{
   margin-left: 50px;
}
.numberList
{
    list-style: upper-roman;
}
.leterBigList
{
    list-style: upper-latin;

}
.leterSmallList
{
    list-style: lower-latin;

}