$color: red;

$bg-primary-1: #013056;
$bg-primary-2: #1b7fd0;
$bg-primary-3: #caddea;
$btn-primary-1: #dd0000;
$btn-primary-2: #075da2;

$txt-color-1: #caddea;

$txt-color-2: #ffffff;

$standart--color__1: #fff;
$btn--color-primary_1: #dd0000;
$btn--color-primary_1--hover: #a40000;

$btn--color-primary-1: #0983e5;
$btn--color-primary_2: #1b7fd0;
$btn--color-primary_2--hover: #caddea;
